$colors: (
    neutral: (100: hsl(0, 0%, 100%),
        200: hsl(0, 0%, 97%),
        300: hsl(0, 0%, 67%),
        400: hsl(0, 0%, 36%),
        900: hsl(0, 0%, 13%),
    ),
    primary: (400: hsl(15, 100%, 60%),
        500: hsl(15, 100%, 47%),
    ),
);