@use "sizes" as *;
$ff-sans: "Lato", sans-serif;
$ff-serif: "Abril Fatface", cursive;

$font-sizes: (
    900: clamp(1.875rem, calc(5.173vw + 0.841rem), 3.75rem),
    // 30px --> 60px = (320,30) --> (900,60)
    800: clamp(1.5rem, calc(5.4vw - 0.037rem), 3rem),
    // 24px --> 48px = (320,24) --> (900,48)
    700: size(32),
    // was 18px --> 32px = (320,18) --> (900,32)
    600: clamp(1.125rem, calc(1.552vw + 0.815rem), 1.6875rem),
    // 18px --> 27px = (320,18) --> (900,27)
    500: size(20),
    // was 16px --> 21px = (320,16) --> (900,21)
    400: size(16),
    // was 16px --> 18px =  (320,16) --> (900,18)
);

$fw-light: 200;
$fw-regular: 400;
$fw-bold: 700;
$fw-boldest: 900;

$font-weights: (
    light: $fw-light,
    regular: $fw-regular ,
    bold: $fw-bold ,
    boldest: $fw-boldest ,
);