@use '../abstracts/' as *;

h1 {
    font-family: $ff-serif;
    font-size: fs(900);
    font-weight: fw(regular);
    line-height: 1.2;
    padding-block: size(32);
}

h2 {
    font-family: $ff-serif;
    font-size: fs(800);
    font-weight: fw(regular);
    line-height: 1.2;
    padding-block: size(16);
}

.subhead {
    font-family: $ff-sans;
    text-transform: uppercase;
    font-size: fs(500);
    font-weight: fw(regular);
    line-height: 1.2;
    position: relative;
    width: fit-content;
    margin-inline: auto;
}

.subtitle {
    font-family: $ff-sans;
    text-transform: uppercase;
    font-size: fs(400);
    font-weight: fw(bold);
    line-height: 1.2;
    padding-block-start: size(20);
    max-width: 500px;
    margin-inline: auto;
}