@use "../abstracts" as *;

.container {
    --wide-container: 80rem; // Optional container width for inline style
    --normal-container: 60rem; // Optional container width for inline style
    --narrow-container: 40rem; // Optional container width for inline style

    width: min(100% - 2rem, var(--container-width, var(--normal-container)));
    margin-inline: auto;
}