@use "../abstracts" as *;

.logo {
    background-image: url(../assets/logo.svg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100%;
    height: size(80);
    width: size(80);
    margin-inline: auto;
}